/* Declaring HTML5 elements */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
  display: block;
  }

/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:0.8em; font-family:Arial,Verdana,Sans-Serif; background: white;}
a {color:black;}

/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {background:#dfdfdf;}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3
	{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
	{color:#FFF;}
/* End Colors */

/* Head section */
#head {
    background: #000 url(img/head-bg.png) repeat-x;
    height: 100px;
}
#head h1 {
    line-height: 100px;
    color: #FFF;
    text-align: center;
    background: url(img/buildtree.png) no-repeat center;
    text-indent: -9999em
}
/* End Head Section */


/* Row section */

/* This container element gives us the scrollbars we want.*/
div.horiz_scroll {
    width: 100%;
    height: 150px;
    overflow: auto;
}

/* table-layout: fixed does a lot of the magic, here. It makes sure that the "table cells" retain the pixel dimensions you want.*/
.cues_list {
    display: table;
    table-layout: fixed;
    width: 100%;
}

/* Arranging your content inside the "cells" is as simple as using the vertical-align and text-align properties. Floats work, too.*/
article {
    width: 170px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}





.cues .widget {
    width: 150px;
    margin: 20px 20px 20px 20px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.cues .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.cues .widget .widget-head h3 {
    padding: 0 5px;
    text-align: center;
}
.cues .widget .widget-content {
    background: #333 url(img/widget-content-bg.png) repeat-x;
    padding: 10px 5px;
    color: #DDD;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}

/* Row section End */



/* Columns section */

.placeholder {
    text-align: center;
    //opacity: 0.6;
}

#two_trees #tree0 {
    display: inline-block; 
    background-color: red; 
    width:49%;
    vertical-align:top;
}

#two_trees #tree1 {
    display: inline-block;
    background-color: green;
    width:49%;
    vertical-align:top;
}

#two_trees .widget {
    width: 150px;
    margin: 20px 20px 60px 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
}
#two_trees .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#two_trees .widget .widget-head h3 {
    padding: 0 5px;
    text-align: center;
}
#two_trees .widget .widget-content {
    background: #333 url(img/widget-content-bg.png) repeat-x;
    padding: 10px 5px;
    color: #DDD;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}

.exit-left {
    position: absolute;
    left: -150px;
    bottom: -100px;
    
}

.exit-right {
    position: absolute;
    right: -150px;
    bottom: -100px;
    
}

.exit-widget {
    width: 100px;
    margin: 30px 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
}

.close-cue, .close-exit {
    background: rgba(255,255,255,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),inset 0 -1px 2px rgba(255,255,255,0.25);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    font-weight: normal;
    height: 22px;
    line-height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    width: 22px;
}

/* End Columns section */
