/* Declaring HTML5 elements */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
  display: block;
  }

/* Reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:0.8em; font-family:Arial,Verdana,Sans-Serif; background: white;}
a {color:black;}




/* Row section ****************/

#blue_area {
  background:#50ADE1;  /* Special BLUE */
  height: auto;
  padding: 20px 20px 20px 20px;
}
#blue_area h1 {
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 50px;
  color: white;
  margin: 0px 0px 10px 0px;
}

input[type=file] {
    display: none;
}
.button_upload_csv {
  cursor: pointer;
  width: 120px;
  height: 20px;
  border-radius: 10px;
  border: 0px solid black;
  background: grey;
  position: absolute;
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 12px;
  color: White;
  text-align: center;
}

.button_training {
  cursor: pointer;
  width: 120px;
  height: 20px;
  border-radius: 10px;
  border: 0px solid black;
  background: grey;
  position: relative;
  left: 200px;
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 12px;
  color: White;
  text-align: center;
  z-index: 1;
}
.button_testing {
  cursor: pointer;
  width: 120px;
  height: 20px;
  border-radius: 10px;
  border: 0px solid black;
  background: White;
  position: relative;
  left: 180px;
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 12px;
  color: Black;
  text-align: center;
}

/* This container element gives us the scrollbars we want.*/
div.horiz_scroll {
  margin: 20px 0px 0px 0px;
  width: 100%;
  height: 100%;
}

/* table-layout: fixed does a lot of the magic, here. It makes sure that the "table cells" retain the pixel dimensions you want.*/
.cues_list {
    display: table;
    table-layout: fixed;
    width: 100%;
}

/* Arranging your content inside the "cells" is as simple as using the vertical-align and text-align properties. Floats work, too.*/
article {
    width: auto;
    height: auto;
    display: table-cell;
    vertical-align: top;
    padding: 0px 20px 0px 0px;
}

.cues .undecided{
    background: White;
    color: Black;
}

/* Row section End ***************/

/* Columns *************/

#white_area {
  background: white;
  padding: 20px 0px 0px 0px;
}

.trees {
  width:120px;
  display: inline-block; 
  height: 600px;
  vertical-align: top;
}

.columns {
  width:120px;
  display: inline-block; 
  background-color: white;
  position: relative;
  vertical-align: top;
}

.stat_columns {
  width:230px;
  display: inline-block; 
  background-color: white;  
}

.drophere {
  width: 120px;
  position: absolute;
  left: 130px;
  top: 14px;
}
/* Columns End *************/


/* Widgets ***************/

.widget {
  height: auto !important;
  position: relative;
}
.trees .widget {
  margin: 0px 0px 40px 0px;
}
.widget_placeholder {
  border: 2px dashed #A9A9A9;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  margin: 0px 0px 40px 0px;
}

.widget_head {
  cursor: move;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background: White;
}
.trees .widget_head {
  background: #50ADE1;
}

.widget_title {
  width: 60px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.widget_content {
  position: relative;
  left: -70px;
}
.trees .widget_content {
    width: 260px;
}

label {
  cursor: pointer;
}

.button_expand {
  cursor: pointer;
  background: transparent;
  border: none !important;
  color: grey;
  font-size: 16px;
  position: absolute;
  left: 3px;
  top: 7px;
}
.trees .button_expand {
  color: white;
}

.button_close {
  cursor: pointer;
  background: transparent;
  border: none !important;
  color: White;
  font-size: 16px;
  position: absolute;
  left: 91px;
  top: 9px;
}
.button_close_exit {
  cursor: pointer;
  background: transparent;
  border: none !important;
  color: White;
  font-size: 16px;
  position: absolute;
  right: 6px;
  top: 9px;
}

input[type=radio] {
    display: none;
}
input[type="radio"] + label {
    color: grey;
    font-size: 22px;
    position: absolute;
    left: 93px;
    top: 3px;
}
input[type=radio]:checked + label:before{
    content: "\26AB";
    color: grey;
    position: absolute;
}

.exit_widget {
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
.exit_widget_title {
  width: 60px;
  line-height: 40px;
  color: black;
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.exit_left {
  position: absolute;
  left: -100px;
  bottom: -80px;
  background: #2ECC71; /* green */
}
.exit_right {
    position: absolute;
    left: 140px;
    bottom: -80px;
    background: #E74C3C;  /* red */
}

.cue_canvas {
    position: absolute;
    left: 40px;
    bottom: -40px;
    
}

.exit_canvas {
    position: absolute;
    left: -40px;
    top: -45px; 
}

/* Widgets End ***************/

/* Statistics ***************/

.button_stat {
  cursor: pointer;
  width: 170px;
  height: 20px;
  border-radius: 10px;
  border: 0px solid black;
  background: grey;
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 12px;
  color: White;
  text-align: center;
  margin: 20px 0px 0px 45px;
}

.stats {
  display: inline-block; 
}

.eval_table {
  border-spacing: 0px;
  border: 0px solid black;
}

th, td {
  height: 20px;
  font-size: 10px;
  text-align: center;
  border: 0px solid black;
}

th {
  font-family: 'Offside', Arial, Sans-Serif;
}

.table_header{
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 12px;
  white-space: nowrap;
}

.table_header_rotated{
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 12px;
  background: LightGrey;

}

.rotate {
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
          transform: rotate(-90.0deg);  /* Standard */
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
     -o-transform-origin: 100% 100%; 
  width: 20px;
}

.cell_narrow{
  width: 20px;
}

.cell_grey{
  background: LightGrey;
  width: 40px;
}

.success{
    text-align: center;
    color: white;
    background-color: #2ECC71;   /* green */
}

.fail{
    text-align: center;
    color: white;
    background-color: #E74C3C;  /* red */
}

.undecided{
    text-align: center;
    color: white;
    background-color: #50ADE1;   /* blue */
}

.button_export {
  cursor: pointer;
  width: 166px;
  height: 20px;
  border-radius: 10px;
  border: 0px solid black;
  background: Grey;
  font-family: 'Offside', Arial, Sans-Serif;
  font-size: 12px;
  color: white;
  text-align: center;
}

/* Statistics End ***************/

