th, td {
  border: 1px solid black;
  width: 40px;
}

.table_header_rotated {
    background: LightGrey;
    
}

.rotate {
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-90.0deg);  /* IE9+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Safari 3.1+, Chrome */
          transform: rotate(-90.0deg);  /* Standard */
            -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
     -o-transform-origin: 100% 100%; 
	  width: 20px;
    
}