body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.success{
    text-align: center;
    color: white;
    background-color: green;
}

.fail{
    text-align: center;
    color: white;
    background-color: red;
}

.undecided{
    text-align: center;
    color: white;
    background-color: dodgerblue;
}